Downloads/
go/

.aws/
.cache/
.config/chromium/
.config/dconf/
.config/GIMP/
.config/mpv/watch_later/
.config/libreoffice/
.config/Signal/
.config/spotify/
.config/pulse/
.gnupg/
.ssh/

.histfile
.zcompdump
